@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 11.8%;
    --foreground: 0 0% 98%;

    --card: 0 0% 14.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 11.8%;
    --popover-foreground: 0 0% 98%;

    --primary: 242 78% 58%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 271 76% 53%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 242 78% 58%;
    --radius: 0.5rem;

    --chart-1: 242 78% 58%;
    --chart-2: 271 76% 53%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 8%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 242 78% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 15.9%;
    --sidebar-accent-foreground: 0 0% 95.9%;
    --sidebar-border: 0 0% 15.9%;
    --sidebar-ring: 242 78% 58%;
  }

  .dark {
    --background: 0 0% 11.8%;
    --foreground: 0 0% 98%;

    --card: 0 0% 14.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 11.8%;
    --popover-foreground: 0 0% 98%;

    --primary: 242 78% 58%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 271 76% 53%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 242 78% 58%;

    --chart-1: 242 78% 58%;
    --chart-2: 271 76% 53%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 8%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 242 78% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 15.9%;
    --sidebar-accent-foreground: 0 0% 95.9%;
    --sidebar-border: 0 0% 15.9%;
    --sidebar-ring: 242 78% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
